@font-face {
    font-family: 'HovesLight'; src: url('tt-hoves/TTHoves-HairlineItalic.ttf');
    font-family: 'HovesExtra'; src: url('tt-hoves/TTHoves-ExtraLightItalic.ttf');
    font-family: 'HovesBlack'; src: url('tt-hoves/TTHoves-BlackItalic.ttf');
    font-family: 'HovesBold'; src: url('tt-hoves/TTHoves-BoldItalic.ttf');
}
body {
    margin: 0 auto;
    font-family: HovesExtra, sans-serif;
    font-style: italic;
}
header {
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
    font-size: 24px;
}
.headImg {
    width: 60px;
    height: 60px;
    margin-left: 40px;
}
.headMap {
    margin-right: 30px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    font-size: 64px;
    font-weight: 900;
    padding: 20px;
    padding-bottom: 40px;
    border-top: 2px solid rgb(57, 57, 57);
    font-family: HovesBlack, sans-serif;
}
.subtitle {
    font-family: HovesBold;
    font-size: 54px;
    margin-top: 50px;
}
.description {
    font-size: 25px;
    width: 1200px;
    font-family: HovesLight, sans-serif;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
    padding-top: 15px;
    border-top: 2px solid black;
}
span {
    font-weight: 700;
    font-size: 26px;
}
#down {
    margin-bottom: 5px;
    margin-top: 20px;
    left: 0px;
}
#sov {
    margin-top: 150px;
}
.map {
    margin-top: 50px;
}
footer {
    font-size: 22px;
}
@media screen and (max-width: 450px) {
    header {
        font-size: 18px;
        display: flex;
        flex-wrap: nowrap !important;
        height: fit-content;
    }
    .headImg {
        width: 40px;
        height: 40px;
    }
    .title {
        font-size: 48px;
    }
    .description {
        font-size: 16px;
        width: 300px;
    }
    .subtitle {
        font-size: 40px;
    }
    .map {
        width: 300px;
        height: 400px;
    }
    iframe {
        width: 600px;
        height: 700px;
    }
}